html, body 
{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* This will hide any overflow, removing the scroll bar */
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end; /* This ensures vertical centering of the buttons */
    background-color: #1F2235;
    padding: 50px 30px; /* Increased side padding for more space around buttons */
    height: calc(105vh - 200px); /* Adjust this value to ensure no scrolling */
    box-sizing: border-box;
  }

  
  
