.screen {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
}
.carsPage {
  position: absolute; /* The parent container must be relative for absolute children */
  width: 75vw;
  height: auto;
  background-size: cover;
  background-position: center;
  transform: translate(18%, -10%); /* Adjust both X and Y for precise centering */
  background-color: var(--color-black);
}

.carsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  color: #fff;
  padding: 1px 40px; /* Increased side padding for alignment */
  box-sizing: border-box;
}

.carsHeader h1 {
  font-size: 64px; /* Increased font size for the header title */
  text-align: center;
  z-index: 1; /* Ensure the header stays  top of the background image */
}

.carsHeaderContent {
  display: flex;
  align-items: center;
}

.sideButton {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center-align items horizontally */
  justify-content: center; /* Center-align items vertically */
  font-size: 20px; /* Adjust as necessary to match the blue buttons */
  padding: 10px 20px; /* Padding to increase clickable area */
  text-align: center;
}

/* Back arrow container */
.backArrowContainer {
  flex: 0 1 auto; /* Do not grow, allow shrink */
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end; /* This ensures vertical centering of the buttons */
  background-color: #1F2235;
  padding: 50px 30px; /* Increased side padding for more space around buttons */
  height: calc(105vh - 200px); /* Adjust this value to ensure no scrolling */
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 20px;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  width: 90%;
  max-width: 1090px;
}
.button {
  background-color: var(--color-app-gray);
  height: 250px;
  width: 350px;
  border-radius: 20px;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

