.screen {
  width: 100vw;
  height: 100vh;
  background-color: #1F2235;
  display: flex;
  justify-content: center;
  align-items: center;

  .left {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .loginContainer {
      width: 70%;
      max-width: 400px;

      .logo {
        width: 80%;
      }
    }

  }

  .right {
    width: 50vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
}
