.scree {
  width: 100vw;
  height: 100vh;
  background-color: #1F2235;
  display: flex;
  justify-content: center;
  align-items: center;

  .disappear {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 300ms, opacity 300ms linear;
  }

}
