@import url('./fonts.css');

:root {
  --color-black: #1F2235;
  --color-secondary-blue: #4690FF;
  --color-secondary-blue-hover: #2F80ED;
  --color-secondary-green: #2DB2A2;
  --color-app-gray: #B9BABE;
}

body {
  margin: 0;
  color: white;
  font-family: Campton, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

